{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-12">
                    <article>
                        <header>
                            <h2>{{ article.title }}</h2>
                        </header>
                        <a href="{{ path('article_view', { id: article.id } ) }}">
                            <img src="{{ asset('uploads/images/articles/' ~ article.image)}}" width="550px" height="350px">
                        </a>

                        <p>{{ article.content }}</p>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-success btn-xs" href="{{ path('article_edit', {id: article.id}) }}">Редактирай</a>
                                <a class="btn btn-danger btn-xs" href="{{ path('article_delete', {id: article.id}) }}">Изтрий</a>
                                <a class="btn btn-default btn-xs" href="{{ path('blog_index') }}">Назад &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

